body{
  margin:0;
  padding: 0;
  background: url(bg.jpg) no-repeat;
  background-size: cover;


}
.box{
  width: 500px;
  background: rgba(0, 0, 0, 0.7);
  padding:50px;
  margin: auto;
  margin-top: 5%;
  color : white;
  text-align: center;
  font-family: sans-serif;

}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 10px;
  background-size: cover;
}
.Giocatore-1{
  width: 500px;
  height: 100px;
  background-color: rgba(255,0,0,0.2);
  font-size: 40px;

}
.Giocatore-2{
  width: 500px;
  height: 100px;
  background-color: rgba(51,204,0,0.2);
  font-size: 40px;
}
.winner{
  width: 500px;
  height: 100px;
  background-color: rgba(0, 54, 44, 0.7);
}

#the_winner_is {

  height: 210px;
  margin: 10px;
  padding: 20px;

  font-size: 40px;
  text-align: center;

}
